@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital@0;1&display=swap');

:root{
    --aquamarine: #7fffd4;
    --black: #000000;
    --antiquewhite: #faebd7;
    --hover: #1E201E;

    --fonte1:"Krona One", sans-serif;
    --fonte2:'Montserrat', sans-serif;
}





*{
    margin: 0;
    padding: 0;
}

body{

    justify-content: center;
    box-sizing: border-box;
    background-color: var(--black);
    color: var(--antiquewhite);
}
.cabecalho{
    padding: 2% 0% 0% 15%;
    width: 50%;
}

.cabecalho__menu{
    display: flex;
    gap: 60px;
}

.cabecalho__menu__link{
    text-decoration: none;
    color: var(--aquamarine);
    font-family: var(--fonte2);
    font-weight: 400;
    font-size: 1.5rem;
}

.tituloDestaque{
    color: var(--aquamarine);
}

.apresentacao{
    padding: 7% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 64px;
}

.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;

}
.apresentacao__conteudo__titulo{
    font-size: 2rem;
    font-family: var(--fonte1);
}
.apresentacao__conteudo__paragrafo{
    font-size: 1.5rem;
    font-family: var(--fonte2);
}
.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
    align-items: center;
    gap: 16px;
}

.apresentacao__links_subtitulo{
    font-family: var(--fonte1);
    font-weight: 400;
}

.apresentacao__links__link{
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--aquamarine);
    width: 50%;
    text-align: center;
    border-radius: 12px;
    font-weight: 600;
    font-size: 1.5rem;
    padding: 21px 0;
    text-decoration: none;
    color: var(--aquamarine);
}

.apresentacao__links__link:hover{
    background-color: var(--hover);
}

.apresentacao__imagem{
    width: 50%;
}

.rodape{
    background-color: var(--aquamarine);
    color: var(--black);
    text-align: center;
    font-family: var(--fonte2);
}

@media(max-width: 1023px){
    
    .cabecalho{
        padding: 10%;
    }

    .cabecalho__menu{
        justify-content: center;
    }
    
    
    
    .apresentacao{
        flex-direction: column-reverse;
        padding: 10%;
    }

    .apresentacao__conteudo{
        width: auto;
    }
}